@import '_main.scss';
:root {
    --white: white;
    --black: black;
    --main-purple: #3724e3;
    --shade-purple: #2b25d93c;
    --light-purple: #7A6DEC;
    --lightest-purple: #BCB6F6;
    --gray: #EBECEF;
  }
  * {
    font-family: "Manrope", sans-serif;
    padding: 0;
    margin: 0;
  }
  .teamDisplay {
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;

    img {
        margin: 2%;
        border-radius: 100%;
        outline: 1px black solid;
        height: 12vh;
    }

    p {
        font-size: 1.2em;
    }

    #result {
        margin: 4%;
        font-size: 1.5em;
        font-weight: 800;
    }
}
  .innerNav {
    width: 100vw;
    height: 5vh;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    ul {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            list-style: none;
            font-size: 1.2em;
            margin-left: 6%;
            text-align: center;
            height: 5vh;

        }

        li:hover {
            border-bottom: 3px black solid;
        }
    }
}
.display {
    display: flex;
    
}